In [1]:
#remove last object from a list

#what is list1_[-1]
l=[2, 33, 22, 14, 25]
l.pop() #to remove last value or list
#l.remove(25) to remove perticular a value
#l.pop(-1) to remove last element of list using index number
print(l)

[2, 33, 22, 14]

In [5]:
#ï‚· Differentiate between append () and extend ()

l=[5,6,8]
l.append(9) #append is use for add a value in list & this value add at end of the list. at a time only one value add.
l.extend([5,3,1]) ##extend is use for add a value in list & this value add at end of the list. at a time multi value add.
print(l)

[5, 6, 8, 9, 5, 3, 1]

In [20]:
#Remove duplicates from a list

m=[5,4,7,4,9,8,7,6]
s=list()
for i in m:
    if i not in s:
        s.append(i)
else:
    print(s)

[5, 4, 7, 9, 8, 6]

In [26]:
#check a list is empty or not.

k=list(input())
if len(k)==0:
    print('list is empty')
else:
    print('list is not empty')

5,8,9,7
list is not empty

In [40]:
#convert a tuple to a string.

t=('k','r','i','s','h','n','a')
k=''
for i in t:
    k=k+i
print(k)

krishna

In [ ]:
# find the second smallest & biggest number in a list.

l=[5,7,9,4,5,8,3,2,1]
l.extend([0,10,24,65,-9])
l.sort()
print('second smallest number in list is ',l[1])
print('second biggest number in list is ',l[-1])

In [30]:
#find the length of a tuple. 

t=tuple(input('Enter somthing here: '))
c=0
for  i in t:
    c+=1
else:
    print(c)

Enter somthing here: naresh kumar
12

In [36]:
#reverse a tuple

m=(5,8,9,7,2,5,8)
k=list(m)
k.reverse()
m=tuple(k)
print(m)

(8, 5, 2, 7, 9, 8, 5)

In [1]:
#remove duplicates from a list. 

k=[5,8,9,20,51,5,6,5,8,4,5,2,4,]
s=[]
for i in k:
    if i not in s:
        s.append(i)
else:
    print(s)

[5, 8, 9, 20, 51, 6, 4, 2]

In [6]:
#check a list is empty or not. 

k=[5,8]
s=0
for i in k:
    s+=1
if s==0:
  print("list is empty")
else:
  print('list is not empty')

list is not empty

In [7]:
#reverse a list

d=[5,8,9,4,5,6,2,3]
d.reverse()
print(d)

[3, 2, 6, 5, 4, 9, 8, 5]

In [ ]:
#largest number, smallest num and sum of all from a list.

s=[4,5,6,9,8,5]
n=0
s.sort()
for i in range(1,len(s)):
    n=n+s[i]
else:
    print('largest number is ',s[-1])
    print('smallest number is ', s[0])
    print('sum of all from a list is',n)

In [3]:
#get unique values from a list 

x=[5,4,6,9,8,5,2,3,2,1,5,4,5,6,2,5,6,5]
new_list=[]
for  i  in x:
    if i not in new_list:
        new_list.append(i)
for m in new_list:
    print(m)

5
4
6
9
8
2
3
1

In [7]:
#split a list into different variables. 

name=[7,8,9,5]
st1,st2,st3,st4=name
print(st1)
print(st2)
print(st3)
print(st4)

7
8
9
5

In [8]:
# tuple with different data types.

t=('naresh',5,6,7,5.8)
print(t)

('naresh', 5, 6, 7, 5.8)

In [31]:
#check whether an element exists within a tuple. 

m=('t','u','p','l','e','8','5','6')
s=input('Enter a value to find in tuple: ')
k = s in m
print(k)

Enter a value to find in tuple: 25t
False

In [36]:
# convert a list to a tuple.

l=[5,8,9,4,'r','d','e']
t=tuple(l)
print(l2)

(5, 8, 9, 4, 'r', 'd', 'e')

In [65]:
#Find The Repeated Items Of A Tuple.

t=(5,7,8,9,6,5,4,2,5,6,2,4,5)
t2=int(input('Enter to find value in tuple: '))
k=t.count(t2)
if k>1:
    print(f' value {t2} is repeating for {k} time')
elif k==1:
    print(f' value {t2} is not repeating')
else:
    print(f'value {t2} is not available in tuple')

Enter to find value in tuple: 9
 value 9 is not repeating

In [63]:
#Remove an empty tuple(s) from a list of tuples.

t=[(5,4,4),( ), (5,6,3),( ), (6,5,1),( )]
for i in t:
    if len(i)==0:
        t.remove(i)
else:
    print(t)

[(5, 4, 4), (5, 6, 3), (6, 5, 1)]

In [92]:
##unzip a list of tuples into individual lists.

l = [(1,2,4), (3,4,0 ), (8,9,7)]
k=zip(*l)
k=tuple(k)
print(k)

((1, 3, 8), (2, 4, 9), (4, 0, 7))

In [122]:
#sort (ascending and descending) a dictionary by value.
d=dict()
d.update({'name':'naresh','class':'python','from':'maninagar'})
k=d.values()
m=list(k)
s=sorted(m)
print(s)

['maninagar', 'naresh', 'python']