In [1]:
#remove last object from a list
#what is list1_[-1]
l=[2, 33, 22, 14, 25]
l.pop() #to remove last value or list
#l.remove(25) to remove perticular a value
#l.pop(-1) to remove last element of list using index number
print(l)

[2, 33, 22, 14]

In [5]:
#ï‚· Differentiate between append () and extend ()
l=[5,6,8]
l.append(9) #append is use for add a value in list & this value add at end of the list. at a time only one value add.
l.extend([5,3,1]) ##extend is use for add a value in list & this value add at end of the list. at a time multi value add.
print(l)

[5, 6, 8, 9, 5, 3, 1]

In [20]:
#Remove duplicates from a list
m=[5,4,7,4,9,8,7,6]
s=list()
for i in m:
    if i not in s:
        s.append(i)
else:
    print(s)

[5, 4, 7, 9, 8, 6]

In [26]:
#check a list is empty or not.
k=list(input())
if len(k)==0:
    print('list is empty')
else:
    print('list is not empty')

5,8,9,7
list is not empty

In [40]:
#convert a tuple to a string. 
t=('k','r','i','s','h','n','a')
k=''
for i in t:
    k=k+i
print(k)

krishna

In [46]:
# find the second smallest number in a list.
l=[5,7,9,4,5,8,3,2,1]
l.sort()
print('second smallest number in list is ',l[1])

second smallest number in list is  2

In [50]:
l=[5,7,9,4,5,8,3,2,1]
l.reverse()
l

[1, 2, 3, 8, 5, 4, 9, 7, 5]