###  How will you remove last object from a list? Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

In [19]:

l=[2, 33, 22, 14, 25]
l.pop() #to remove last value or list
#l.remove(25) to remove perticular a value
#l.pop(-1) to remove last element of list using index number
print(l)

[2, 33, 22, 14]

### Differentiate between append () and extend () methods?

In [20]:

l=[5,6,8]
l.append(9) #append is use for add a value in list & this value add at end of the list. at a time only one value add.
l.extend([5,3,1]) ##extend is use for add a value in list & this value add at end of the list. at a time multi value add.
print(l)

[5, 6, 8, 9, 5, 3, 1]

### Write a Python program to remove duplicates from a list.

In [ ]:

m=[5,4,7,4,9,8,7,6]
s=list()
for i in m:
    if i not in s:
        s.append(i)
else:
    print(s)

### Write a Python program to check a list is empty or not.

In [22]:

k=list(input())
if len(k)==0:
    print('list is empty')
else:
    print('list is not empty')

list is empty

###  Write a Python program to convert a tuple to a string.

In [23]:

t=('k','r','i','s','h','n','a')
k=''
for i in t:
    k=k+i
print(k)

krishna

### Write a Python program to find the second smallest number in a list.

In [24]:


l=[5,7,9,4,5,8,3,2,1]
l.extend([0,10,24,65,-9])
l.sort()
print('second smallest number in list is ',l[1])
print('second biggest number in list is ',l[-1])

second smallest number in list is  0
second biggest number in list is  65

### Write a Python program to find the length of a tuple.

In [25]:

t=tuple(input('Enter somthing here: '))
c=0
for  i in t:
    c+=1
else:
    print(c)

Enter somthing here:
0

###  Write a Python program to reverse a tuple.

In [26]:

m=(5,8,9,7,2,5,8)
k=list(m)
k.reverse()
m=tuple(k)
print(m)

(8, 5, 2, 7, 9, 8, 5)

### Write a Python program to remove duplicates from a list.

In [27]:

k=[5,8,9,20,51,5,6,5,8,4,5,2,4,]
s=[]
for i in k:
    if i not in s:
        s.append(i)
else:
    print(s)

[5, 8, 9, 20, 51, 6, 4, 2]

###  Write a Python program to check a list is empty or not.

In [28]:

k=[5,8]
s=0
for i in k:
    s+=1
if s==0:
  print("list is empty")
else:
  print('list is not empty')

list is not empty

### What is List? How will you reverse a list?

In [29]:

d=[5,8,9,4,5,6,2,3]
d.reverse()
print(d)

[3, 2, 6, 5, 4, 9, 8, 5]

### Write a Python function to get the largest number, smallest num and sum of all from a list.

In [30]:

s=[4,5,6,9,8,5]
n=0
s.sort()
for i in range(1,len(s)):
    n=n+s[i]
else:
    print('largest number is ',s[-1])
    print('smallest number is ', s[0])
    print('sum of all from a list is',n)

largest number is  9
smallest number is  4
sum of all from a list is 33

### Write a Python program to get unique values from a list

In [31]:

x=[5,4,6,9,8,5,2,3,2,1,5,4,5,6,2,5,6,5]
new_list=[]
for  i  in x:
    if i not in new_list:
        new_list.append(i)
for m in new_list:
    print(m)

5
4
6
9
8
2
3
1

### Write a Python program to split a list into different variables.

In [32]:

name=[7,8,9,5]
st1,st2,st3,st4=name
print(st1)
print(st2)
print(st3)
print(st4)

7
8
9
5

### Write a Python program to create a tuple with different data types.

In [33]:

t=('naresh',5,6,7,5.8)
print(t)

('naresh', 5, 6, 7, 5.8)

### Write a Python program to check whether an element exists within a tuple

In [34]:

m=('t','u','p','l','e','8','5','6')
s=input('Enter a value to find in tuple: ')
k = s in m
print(k)

Enter a value to find in tuple:
False

### Write a Python program to convert a list to a tuple.

In [35]:

l=[5,8,9,4,'r','d','e']
t=tuple(l)
print(t)

(5, 8, 9, 4, 'r', 'd', 'e')

### Write a Python program to find the repeated items of a tuple.

In [ ]:

t=(5,7,8,9,6,5,4,2,5,6,2,4,5)
t2=int(input('Enter to find value in tuple: '))
k=t.count(t2)
if k>1:
    print(f' value {t2} is repeating for {k} time')
elif k==1:
    print(f' value {t2} is not repeating')
else:
    print(f'value {t2} is not available in tuple')

###  Write a Python program to remove an empty tuple(s) from a list of tuples

In [ ]:

t=[(5,4,4),( ), (5,6,3),( ), (6,5,1),( )]
for i in t:
    if len(i)==0:
        t.remove(i)
else:
    print(t)

### Write a Python program to unzip a list of tuples into individual lists.

In [ ]:

l = [(1,2,4), (3,4,0 ), (8,9,7)]
k=zip(*l)
k=tuple(k)
print(k)

### Write a Python script to sort (ascending and descending) a dictionary by value.

In [ ]:

d=dict()
d.update({'name':'naresh','class':'python','from':'maninagar'})
k=d.values()
m=list(k)
s=sorted(m)
print(s)

### Write a Python script to concatenate following dictionaries to create a new one.

In [ ]:

a={'name':'naresh','sub':'python'}
b={'time':'11:30 AM'}
c={}
for i in(a,b):
    c.update(i)
print(c)

### Write a Python script to check if a given key already exists in a dictionary.

In [ ]:
 
m={'name':'naresh','class':'python','place':'maninagar'}
s=input()
if s in m:
    print('Already exists')
else:
    print('a new key')

### How Do You Traverse Through A Dictionary Object In Python?

In [ ]:

r={'institute':'tops','place':'maninagar station','sub':'all type programming language'}
for i , m in r.items():
    print(i,'=',m)

### Write a Python script to merge two Python dictionaries

In [ ]:

a={'total PC':'10','place':'maninagar'}
b={'faculty member':'13'}
d=a.copy()
d.update(b)
print(d)

### Write a Python program to map two lists into a dictionary

In [ ]:

name=['naresh','kailash','surendra']
mobile=[956561,545416,455456]
d=dict(zip(name,mobile))
print(d)

### Write a Python function to check whether a number is in a given range

In [ ]:

s=int(input('Enter A (numeric) value: '))
if s in range (4,15):
    print(f'{s} in range')
else:
    print(f'{s} is out of given range')

### Write a Python function that checks whether a passed string is palindrome or not

In [4]:

s=input('Enter a string: ')
r=s[::-1]
if s==r:
  print('passed string is palindrome')
else:
  print('not a palindrome')

Enter a string: repaper
passed string is palindrome

### Write a Python program to returns sum of all divisors of a number

In [ ]:
 

n=int(input('Enter a value: '))
a=0
for i in range(1, n):
  if n % i ==0:
    a += i
else:
  print(a)

### Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.

In [ ]:

k=[2.5,6.5,3.2,1.9,0.5,5.7]
k.sort()
print(f'meximum num is {k[-1]} and minimum number is {k[0]}')

### Write a Python program to calculate the area of a parallelogram

In [ ]:

height=float(input('Enter height: '))
base=float(input('Enter base: '))
area= base * height
print(f'area of parallelogram is:{area}')

### Write a Python function to check whether a number is perfect or not.

In [1]:

s=int(input())
k=0
for i in range(1,s):
    if s%i== 0:
        k+=i
if k == s:
    print('perfect number')
else:
    print(f' not perfect')

7
 not perfect

### Write a Python program to convert degree to radian

In [10]:

pi=22/7
degree=float(input('Enter degree: '))
radian=((pi/180)*degree)
print(f'radian is {radian}')

Enter degree: 70
radian is 1.2222222222222223

###  Write a Python program to calculate the area of a trapezoid

In [ ]:

height=float(input('Enter the height: '))
base1=float(input('enter the base1: '))
base2=float(input('enter the base2: '))
area=(((base1+base2)/2)*height)
print(f'area is {area}')